<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Finder - head </title>
    <link rel="stylesheet" href="/css/Main.css">
</head>
<body>
    <header th:fragment="MainHeader">
        <a href="">Login</a>
        <a href="">Register</a>
        <img src="" alt="홈페이지 로고"> <a href=""></a>
        <table>
            <tr>
                <td> 공지사항 </td>
                <td> 커뮤니티 </td>
                <td> 문의사항 </td>
                <td> 내 정보</td>
            </tr>
        </table>
    </header>
</body>
</html>