<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    }
    input[type="password"]{ -webkit-text-security: disc;}
</style>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">New Food Finder Register Page</h1>
        <form th:action="@{/newfoodfinder/register}" th:method="post">
            <div class="form-group">
                <label >userid</label>
                <input type="text" style="width: 300px;" class="form-control" name="userid">
            </div>
            <div class="form-group">
                <label >password</label>
                <input type="password" style="width: 300px;" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label >name</label>
                <input type="text" style="width: 300px;" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label >ssn</label>
                <input type="number" style="width: 300px;" class="form-control" name="ssn1"> -
                <input type="number" style="width: 300px;" class="form-control" name="ssn2">
            </div>
            <div class="form-group">
                <label >nickname</label>
                <input type="text" style="width: 300px;" class="form-control" name="nickname">
            </div>
            <div class="form-group">
                <label >phone</label>
                <input type="number" style="width: 300px;" class="form-control" name="phone1"> -
                <input type="number" style="width: 300px;" class="form-control" name="phone2"> -
                <input type="number" style="width: 300px;" class="form-control" name="phone3">
            </div>
            <div class="form-group">
                <label >e-mail</label>
                <input type="text" style="width: 300px;" class="form-control" name="mail1"> @
                <input type="text" style="width: 300px;" class="form-control" name="mail2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </th:block>
</th:block>
</html>